# Option 1: Use API Gateway for all services
# VITE_API_GATEWAY_URL=http://localhost:8080

# Option 2: Use direct service URLs
# User Service routes are prefixed by /api/users at endpoint level.
VITE_USER_SERVICE_URL=http://172.16.48.251:8081
VITE_FOOD_SERVICE_URL=http://172.16.53.41:8082
VITE_ORDER_SERVICE_URL=http://172.16.52.144:8083
VITE_PAYMENT_SERVICE_URL=http://172.16.52.139:8084
